/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  

/*==========================================
 BASE STYLES - MOBILE
============================================*/
html {
    font-size: 16px;
}

body {
    color: #00264d;
    font-family: 'pt-sans', sans-serif;
    font-size: 1em;
    line-height: 1.285;
    text-align: left;
    display: flex;
  	justify-content: center;
	  align-items: center;
}

h1 {
    font-size: 1.875em;
    font-weight: bold;
    text-align: center;
}

h2, 
h3 {
    color: #ff6600;
}

h2 {
    font-size: 1.875em;
}

h3 {
  font-size: 1.125em; /* previously 20px, as was body text */
}

h4 {
  font-weight: bold;
}

a {
  color: #00264d;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.content-wrapper {
    width: 90%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

img {
  width: 100%;
}
   
figure {
  margin: 0;
}
   
address {
  font-style: normal;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #d5e2e2;
}

/*======================================== 
 HEADER - MOBILE
==========================================*/
header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

header figure {
    width: 40%;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.header-divider {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: #a3aab1;
  }

/*------ nav bar -------- */
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

header nav ul li{
    font-size: 1.125em;
    padding: 30px 25px 0 25px;
    text-transform: uppercase;
}

header nav ul li a { 
  color: #ff6600;
}

/* Header article */
header article {
    padding-top: 30px;
}


/*============================================
 FOOTER - MOBILE
==============================================*/
footer { 
    text-align: center;
}

footer .content-wrapper { 
    margin: 50px 0;
}
  
footer p {
    margin: 0;
}

footer article {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

footer #contact p i {
  font-size: 1em;
}

footer .copyright {
    padding-bottom: 50px;
    width: 100%;
}

/*---- Images ---- */
.gosc figure { 
    width: 20%;
}

/*---- Prices & Contact -----*/
footer #prices ul li,
footer #contact address p { 
    line-height: 2.0625;
}


/* ===========================================
 HOMEPAGE - MOBILE
============================================== */
#osteo,
#expectations,
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/*---- OSTEO ----*/
#osteo article {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#osteo .small {
  flex-flow: column wrap;
}

#osteo ul {
  padding-left: 10px;
}

#osteo ul li {
    list-style-type: disc;
}

/*----- EXPECTATIONS -----*/
#expectations { 
    background: #d5e2e2;
    background-size: cover;
}

#expectations .content-image {
    width: 40%;
}

#expectations .content-text {
    width: 100%;
}


/*----- ABOUT -----*/
#about article {
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

#about article .content-title {
  width: 52%;
}

#about article .content-image {
  width: 48%;
}

#about figure {
  width: 30%;
}


/*==========================================
 COVID-19 PAGE - MOBILE
============================================ */

#pre-screen, 
#visit, 
#end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#pre-screen article, 
#visit article, 
#end article {
    width: 100%;
    margin: 50px 0;
}

#pre-screen ul,
#visit ul,
#end ul {
  width: 80%;
  padding-left: 20px;
}

#pre-screen ul li,
#visit ul li,
#end ul li {
  padding-bottom: 10px;
}


/*----- VISIT -------- */
#visit { 
    background: #d5e2e2;
    background-size: cover;
}

#visit .intro {
  margin-bottom: 20px;
}

#visit .ppe {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#visit figure {
    padding: 0;
    width: 40%;
    display: flex;
    justify-content: center;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden,
 [hidden] {
   display: none !important;
 }
 
 /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
 
 .sr-only {
   border: 0;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   white-space: nowrap;
   width: 1px;
   /* 1 */
 }
 
 /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
 
 .sr-only.focusable:active,
 .sr-only.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   white-space: inherit;
   width: auto;
 }
 
 /*
  * Hide visually and from screen readers, but maintain layout
  */
 
 .invisible {
   visibility: hidden;
 }
 
 /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
 
 .clearfix::before,
 .clearfix::after {
   content: " ";
   display: table;
 }
 
 .clearfix::after {
   clear: both;
 }
 
 /* ==========================================================================
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
    ========================================================================== */

@media all and (min-width: 768px) {  /* ------- TABLET --------- */
/*=================================
   General styles - Tablet
  ===================================*/
  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  h2 {
    font-size: 2em;
    line-height: 1.333;
  }

  h3 {
      font-size: 1.25em;
  }

  body {
    font-size: 1.125em;
  }

  /* =====================================
   HEADER - TABLET
  ======================================== */
  header {
    justify-content: space-around;
  }

  header .content-wrapper {
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
  }

  header figure {
    width: 35%;
  }

  header nav {
    width: 60%;
  }

  header nav ul {
    justify-content: space-around;
  }

  header article {
    padding-left: 30px;
  }

  .header-divider {
    display: none;
  }

  
  /* =================================
   HOMEPAGE - TABLET
  ==================================== */
  
  /* --------- Osteo - Expectations ---------- */
  #osteo .content-wrapper, 
  #expectations .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  #osteo .small, 
  #expectations .content-image {  
    width: 33%;
  }

  #osteo .big, 
  #expectations .content-text {
    width: 60%;
  }

  /* ------ Expectations ---------- */
  #expectations figure {
    width: 30%;
  }

  #expectations h2 {
    margin-top: 0;
  }


  /*==========================================
   COVID-19 PAGE - TABLET
  ============================================ */

  /* ----- Visit ---- */
  #visit .ppe-laura {
    display: flex;
    flex-flow: row nowrap;
  }
  
  #visit .ppe {
    width: 30%;
  } 

  #visit figure {
    width: 70%;
  }
  
  #visit .laura-will {
    width: 59%;
  }
  
  /* ----- End ---------- */
  #end .end-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
  }
  
  #end article {
    width: 49%;
  }

} /* Tablet ends */



@media all and (min-width: 1200px) {  /* -------- DESKTOP ---------- */
    /* =========================
   General styles - Desktop 
  ============================*/
  .content-wrapper {
    max-width: 960px;
  }  

  h1 {
    font-size: 2.5em;
  }

  h2 {
      font-size: 1.75em;
  }

  h3,
  h4 {
    font-size: 1.25em;
  }

  body {
      font-size: 1.25em;
      line-height: 1.5;
  }


  /* ========================================
   HEADER - DESKTOP
  =========================================== */
  header nav {
    margin-top: 40px;
  }

  header nav ul {
    justify-content: space-between;
  }

  
  /* =================================
   FOOTER - DESKTOP
  ==================================== */
  .footer-content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
    
  footer #prices {
    width: 25%;
  }

  footer .gosc {
    width: 40%;
  }

  footer .gosc figure {
    width: 35%;
  }

  footer #contact {
    width: 35%;
  }



  /* ==============================
   COVID-19 - DESKTOP 
  =================================*/
  
  /* --------- Visit ------- */
  #visit .visit-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
  }

  #visit .you-should {
    width: 49%;
  }

  #visit .ppe-laura {
    width: 49%;
    align-items: flex-start;
  }

  #visit .ppe {
    margin-top: 140px;
    width: 39%;
  }

  #visit figure {
    width: 85%;
  }

  #visit .laura-will {
    width: 59%;
  }

  /* -------- End -------- */
  #end .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  #end article {
    width: 45%;
  }  


} /* Desktop ends */


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
}
  
  