/***** BASE STYLES *****/
html {
    font-size: 16px;
}

body {
    color: #00264d;
    font-family: 'pt-sans', sans-serif;
    font-size: 1em;
    line-height: 2.0625;
    text-align: justify;
    display: flex;
	justify-content: center;
	align-items: center;
}

.content-wrapper {
    width: 90%;
    margin: 50px 0;
}

h2, 
h3 {
    color: #ff6600;
}

h2 {
    font-size: 1.5625em;
}

h3 {
    font-size: 1em; /* previously 20px, as was body text */
}

h4 {
    font-weight: bold;
}

ul {
	margin: 0;
}


/*======= HEADER ========*/
header, 
#covid-header {
    background: #d5e2e2;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

header img, 
#covid-header img {
    padding-right: 50px;
    width: 40%;
}

/*------ nav bar -------- */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
    width: 20%;
}

nav ul {
	padding: 0;
}

nav ul li{
    font-size: 1em;
    padding: 10px 0; 
    text-transform: uppercase;
    list-style: none;
}

nav ul li a { 
    color: #ff6600;
    text-decoration: none; 
}

/*====== FOOTER =====*/
footer { 
    background: #d5e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .content-wrapper { 
    width: 40%;
    margin: 50px 0;
  }
  
footer p {
    margin: 0;
}

footer article {
    margin-bottom: 60px;
}

/*---- Images ---- */
.gosc img { 
    width: 40%;
}

/*---- Prices & Contact -----*/
#prices li {
    list-style-type: none;
}

#prices ul {
    padding-inline-start: 0;
}

#prices h3, 
#contact h3 {
    padding-top: 50px; 
}

#prices li a,
#contact address p a { 
    color: #00264d;
    font-family: 'pt-sans', sans-serif;
    font-size: 1em;
    line-height: 2.0625;
    text-decoration: none;
}


/* ====== MOBILE- HOMEPAGE ===== */

/*---- OSTEO ----*/
#osteo,
#expectations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#osteo .content-wrapper,
#expectations .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#osteo article {
    width: 50%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}


/*----- EXPECTATIONS -----*/
#expectations { 
    background: #d5e2e2;
}

#expectations .content-image {
    width: 33%;
}

#expectations .content-text {
    width: 50%;
}


/*----- ABOUT -----*/
#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#about article {
    margin: 50px 0;
    width: 50%;
}

#about .content-image {
    width: 30%;
}


/*========= COVID-19 ======== */
#visit { 
    background: #d5e2e2;
}

#visit .half-width, 
#end .half-width {
    box-sizing: border-box;
    padding-right: 40px;
}

#extra {
    padding-top: 20px;
}

#ppe img {
    padding-left: 50px;
    padding-top: 30px;
    width: 33%;
}


/* ------- TABLET --------- */
@media all and (min-width: 768px) {

}


/* -------- DESKTOP ---------- */
@media all and (min-width: 1200px) {

}