/***** BASE STYLES: generalised style info *****/
html {
    font-size: 16px;
}

body {
    color: #00264d;
    font-family: 'pt-sans', sans-serif;
    font-size: 1em;
    line-height: 2.0625;
    display: flex;
	justify-content: center;
	align-items: center;
}

.container{
    padding: 60px 0;
    max-width: 1200px;
	width: 90%; /* means you don't need to set the margin */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1 {
    font-weight: bold;
    padding-bottom: 40px;
    text-align: center;
    text-decoration: overline, underline;
}

h2, 
h3 {
    color: #ff6600;
}

h2 {
    font-size: 1.5625em;
}

h3 {
    font-size: 1em; /* previously 20px, as was body text */
}

h4 {
    font-weight: bold;
}

p {
    text-align: justify;
}

ul {
	margin: 0;
}


/*------- HEADER ---------*/
#header, 
#covid-header {
    background: #d5e2e2;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

#header img, 
#covid-header img {
    padding-right: 50px;
    width: 40%;
}

/* nav bar */
nav {
    padding: 25px 0;
}

nav ul {
    margin: 0;
	padding: 0;
}

nav ul li{
    font-size: 1em;
    padding: 10px 0; 
    text-transform: uppercase;
    list-style: none;
}

nav ul li a { 
    color: #ff6600;
    text-decoration: none; 
}

/*---------- OSTEO ---------*/
#osteo .section-1,   /* START HERE ON 11/8 - why aren't the 2 sections aligned correctly??? */
#osteo .section-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}


/* EXPECTATIONS */

#expectations .third-width img {
    width: 33%;
}

#expectations, 
#visit { 
    background: #d5e2e2;
}


/* ABOUT */

#laura img, 
#sarah-img img { 
    margin-top: 70px;
    padding-left: 10px;
    width: 25%;
}

#sarah {
    padding-top: 25px;
}


/* FOOTER */

#footer {
    background: #d5e2e2;
    padding: 110px 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Images */
#cyclist img, 
#gosc img { 
    width: 33%;
}

/* Prices & Contact */
#prices li, 
#contact li {
    list-style-type: none;
}

#prices ul, 
#contact ul {
    padding-inline-start: 0;
}

#prices h3, 
#contact h3 {
    padding-top: 50px; 
}

#contact li a { /* this stops the email link being blue & underlined */
    color: #00264d;
    font-family: 'pt-sans', sans-serif;
    font-size: 1em;
    line-height: 2.0625;
    text-decoration: none;
}


/* COVID-19 */

#visit .half-width, 
#end .half-width {
    box-sizing: border-box;
    padding-right: 40px;
}

#extra {
    padding-top: 20px;
}

#ppe img {
    padding-left: 50px;
    padding-top: 30px;
    width: 33%;
}


/* ------- TABLET --------- */
@media all and (min-width: 768px) {

}


/* -------- DESKTOP ---------- */
@media all and (min-width: 1200px) {

}